.rakam{
  height: 50px;
  width: 49px;
  padding: 0px;
  text-align: center;
  background: purple;
  border-radius: 50%;
}

.rakam:hover{
  background: pink;
}
.rakam:active{
  background: blue;
}
.yazi{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: 5px solid rgb(47, 38, 99);
  color:yellow;
  background: black;
}
table{
  border-spacing: 0px;
  margin-left: 14px;
}
.endis{
  padding-left: 20px;
  padding-top: 10px;
  width:250px;
  height: auto;
  background:rgba(55, 105, 54, 0.589);
border-radius: 25px;
border:10px solid rgba(84, 158, 100, 0.363);
}
.cerceve{
  width: 150px;
  height: 40px;
  border-radius: 15px;
  padding: 20px;

}
td:nth-child(odd){
  background: rgba(0, 255, 255, 0.486);
  border-radius: 15px;
}
td:nth-child(even){
  background: rgba(47, 0, 255, 0.418);
  border-radius: 15px;
}

