.rakam{
  height: 50px;
  width: 49px;
  padding: 0px;
  text-align: center;
  background: red;
  border-radius: 15px;
}

.rakam:hover{
  background: purple;
}
.rakam:active{
  background: blue;
}
.yazi{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: 5px solid purple;
  color:yellow;
  background: black;
}
table{
  border-spacing: 0px;
  margin-left: 14px;
}
.endis{
  padding-left: 20px;
  padding-top: 10px;
  width: 250px;
  height: 300px;
  background:gray;
border-radius: 25px;
}
.cerceve{
  width: 150px;
  height: 40px;
  border-radius: 15px;
  padding: 20px;

}
